@page "/shop"
<h3>Shop</h3>

<div class="shopping justify-content-center">
    @foreach (var item in ShopItemModel.ShopItemsList)
    {
        <ShopItem ItemData=@item ShortDescription=@ShopItemModel.GetDescriptionShort(item.Id)></ShopItem>
    }
</div>

@code {
    public ShopItemModel ShopItemModel { get; set; }

    public IEnumerable<ShopItemData> DataSet()
    {
        IEnumerable<ShopItemData> items = new List<ShopItemData>()
{
            new ShopItemData()
            {
                Id = 1, Name = "Rotwein", Description = "Das ist ein Rotwein. Das ist ein Rotwein. Das ist ein Rotwein. Das ist ein Rotwein.",
                Price = 23.50
            },
            new ShopItemData()
            {
                Id = 2, Name = "Weiswein", Description = "Das ist ein Weiswein",
                Price = 17.95
            },
            new ShopItemData()
            {
                Id = 3, Name = "Champagner", Description = "Das ist ein Champagner.",
                Price = 35.30
            },
            new ShopItemData()
            {
                Id = 4 , Name = "Rose", Description = "Das ist ein Rose.",
                Price = 14.60
            }
        };

        return items;
    }

    protected override Task OnInitializedAsync()
    {
        ShopItemModel = new ShopItemModel(DataSet());

        return base.OnInitializedAsync();
    }

}
